@{
    ViewData["Title"] = "Вход";
}

<h2>Вход</h2>

<div class="form-horizontal">
    <h4>Сотрудник</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control" type="text" id="phoneNumber" placeholder="Номер телефона" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control" type="password" id="password" placeholder="Пароль" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-default" type="submit" onclick="Login()" value="Войти" />
        </div>
    </div>
</div>

<div>
    <a asp-controller="employee" asp-action="signup">Регистрация</a>
</div>

<script>
    function postContext(controller, action, body) {
        return fetch("/" + controller + "/" + action, {
            method: "Post",
            headers: {
                "Content-Type": "application/json",
                "Action": action
            },
            body: body
        });
    }

    function Login() {
        postContext("Employee", "SignIn", JSON.stringify({
            PhoneNumber: parseInt(phoneNumber.value),
            Password: password.value
        }))
            .then(response => response.json())
            .then(function (commits) {
                if (commits.message == "Success") {
                    alert(commits.firstName + ", добро пожаловать!");
                    window.location.href = "/";
                }
                else {
                    alert(commits.message);
                    password.value = "";
                }
            });
    }
</script>