@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

<div class="form-horizontal">
    <h4>Сотрудник</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control" type="text" id="firstName" placeholder="Имя" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control" type="text" id="lastName" placeholder="Фамилия" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control" type="text" id="phoneNumber" placeholder="Номер телефона" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control" type="password" id="password" placeholder="Пароль" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-default" type="submit" onclick="Register()" value="Зарегистрировать" />
        </div>
    </div>
</div>

<script>
    function postContext(controller, action, body) {
        return fetch("/" + controller + "/" + action, {
            method: "Post",
            headers: {
                "Content-Type": "application/json"
            },
            body: body
        });
    }

    function Register() {
        postContext("Employee", "SignUp", JSON.stringify({
            FirstName: firstName.value,
            LastName: lastName.value,
            PhoneNumber: parseInt(phoneNumber.value, 10),
            Password: password.value
        }))
            .then(response => response.json())
            .then(function (commits) {
                if (commits == "Success") {
                    alert(firstName.value + ", добро пожаловать!");
                    window.location.href = "/";
                }
                else {
                    alert(commits);
                    firstName.value = "";
                    lastName.value = "";
                    phoneNumber.value = "";
                    password.value = "";
                }
            });
    }
</script>