@model Shop.Domain.Core.Promotion

@{
    ViewBag.Title = "Promotion creation";
    Layout = "_Layout";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Promotion</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Percent" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Percent" class="form-control" />
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedAt" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LifeTime" class="col-md-4 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LifeTime" class="form-control" />
                <span asp-validation-for="LifeTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}